<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/ajax.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div style="text-align: center;margin-top: 30px">
    <h1>City Manager </h1>
<button style="margin-bottom: 10px" onclick="getAllCity()">Display City</button>
<button onclick="getAllCountry()">Create new City</button>
<div id="list"></div>
<div id="form"></div>
    <div id="displayDetail"> </div>
</div>

</body>
</html>